.container {
    /* 라이브css */
    width: 80%;
    margin: 0 auto;
    display: grid;
    /* 그리드 자동맞춤(가능한 많은 열 그리드 내 배치), 1열당 최소 250px */
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 25px;
    margin-top: 60px;
    padding-bottom: 100px;
}

.container img {
    width: 100%;
    border-radius: 20px;
}

.container p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    text-align: center;
}