.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    gap: 30px;
    
}

.container h2 {
    font-weight: 800;
}

.container .tab {
    color: gray;
    cursor: pointer;
}

.container .active {
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: 20px;
}