.container {
    /* 라이브css */
    width: 80%;
    margin: 0 auto;
    display: grid;
    /* 그리드 자동맞춤(가능한 많은 열 그리드 내 배치), 1열당 최소 250px */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 60px;
    padding-bottom: 100px;
}

.container iframe {
    /* 콘텐츠 작을 경우, width와 height(또는 aspect-ratio) 미설정시 간격 등 문제 발생 가능 */
    width: 100%; 
    /* 반응형 웹 - 화면 너비 기준으로 자동 높이 조정 */
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;
}

.container iframe:hover {
    opacity: 1;
}