.container {
    display: grid;
    /* 2열로 나누되, 비율은 1:2 */
    grid-template-columns: 1fr 2fr;
    gap: 120px;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}

.poster {
    border-radius: 20px;
    max-width: 100%;
    /* 아이템의 정렬위치를 그리드 내에서 가로, 세로 모두 중앙으로 */
    place-self: center;
}

.title {
    color: white;
    font-size: 46px;
    font-weight: 600;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

.add {
    display: flex;
    gap: 14px;
    font-size: 20px;
    color: #999999;
    font-weight: bold;
}

.info .add .h3 {
    display: flex;
    gap: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info .add .genre {
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 20px;
}

.info .p1 {
    line-height: 1.4;
    width: 80%;
    font-size: 22px;
}

.info .RoundTab {
    margin-top: 10px;
    display: flex;
    gap: 18px;
}

.info .RoundTab .home {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url("/images/house.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.2s ease;
}

.info .RoundTab .ott {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url("/images/ott.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.2s ease;
}

.info .RoundTab .home:hover {
    width: 50px;
    height: 50px;
    background-image: url("/images/house_wh.png");
}

.info .RoundTab .ott:hover {
    width: 50px;
    height: 50px;
    background-image: url("/images/ott_wh.png");
}
