.container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-top: 90px;
    gap: 30px;
    
}

.container h2 {
    font-weight: 800;
    font-size: 22px;
}

.container .tab {
    color: gray;
    cursor: pointer;
}

.container .active {
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: 22px;
}