/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./styles/movie.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.movie_movie__n6Ry2 {
    /* 행과 열 기준으로 정렬 */
    display: grid;
    /* 1개의 열을 만들어 정렬 */
    grid-template-rows: 1fr auto;
    grid-gap: 20px;
    gap: 20px;
    cursor: pointer;
    place-items: center;
}

.movie_movie__n6Ry2 img {
    max-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    /* 투명도가 변할 때 0.3초동안 부드럽게 전환됨 */
    transition: opacity 0.3s ease-in-out;
}

.movie_movie__n6Ry2 img {
    opacity: 0.7;
}

.movie_movie__n6Ry2 img:hover {
    opacity: 1;
}

.movie_movie__n6Ry2 a {
    text-align: center;
}
/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./styles/home.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.home_container__STkGE {
    display: grid;
    /* 5개의 열을 만들고, 각 1등분씩 즉 동일한 너비의 열을 만듬 */
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
    gap: 25px;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}
